body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #118ab2;
}

.caja{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #073b4c;
    text-align: center;
}

.caja h1{
    color: #ffff;
    font-size: 16px;
    text-transform: uppercase;
}

.caja input[type = "number"],.caja input[type = "number"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffd166;
    padding: 12px 10px;
    width: 200px;
    outline: none;
    color: #ffff;
    border-radius: 12px;
    transition: 0.25s;
}

.caja input[type = "number"]:focus, .caja input[type = "number"]:focus {
    width: 250px;
    border-color: #06d6a0;
}

.caja input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffd166;
    padding: 10px 40px;
    outline: none;
    color: #ffff;
    border-radius: 12px;
    transition: 0.25s;
    cursor: pointer;
}

.caja input[type = "submit"]:hover{
    background: #06d6a0;
    color: #000;
}

.caja output[type = "number"]{
    color: #ffd166;
    font-size: 18px;
}

